@charset "UTF-8";

/* 全てのWEBページに適用される*/
* {
  font-family: 'Noto Serif JP', serif;
}

html {
  font-family: sans-serif;
}
html * {
  box-sizing: border-box;
}
body {
  margin: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.header {
  color: #ffffff;
  background-color: #000000;
}
.wrapper {
  margin: 0 auto 0 auto;
  max-width: 960px;
}

h2 {
  color:  black;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
p {
  line-height: 1.6;
}
a {
  color: black;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style: none;
}
.photos-link{
	display: flex;
	flex-wrap:wrap;
}
.img-link li {
  display: inline-block;
	width: calc(100%/3.1);
	padding:0 5px;
	box-sizing:border-box;
  position: relative;
}
.img-link li img {
	max-width:100%;
	height: auto;
	border:solid 5px #404040;
}
.img-link .caption {
	font-size:		130%;
	text-align: 		center;
	padding-top:		80px;
	color:			#fff;
}
.img-link .mask {
	width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.img-link li :hover .mask {
	opacity:		1;	/* マスクを表示する */
}
.more {
  text-align: right;
  padding-right: 20px;
}


/* すべてのWEBページに適用 - ヘッダー -  */
.top-logo a {
  color: white;
  padding-top: 20px;
  padding-left: 40px;

}
.upper-menu {
  position: relative;
}
.upper-menu li {
  display: inline;
  list-style-type: none;
  padding-right: 30px;
}
.upper-menu ul {
  margin: 0 0 0 0;
  text-align: right;
  padding: 20px 10px 15px 20px;
  background-image: url(../images/menu-bg.png);
  background-repeat: repeat-x;
}
.upper-menu a {
  color: white;
  text-decoration: none;
}
.upper-menu a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
.upper-menu a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
  }

/* すべてのWEBページに適用 - フッダー -  */
.fotter {
  background-color: black;
  color: white;
  margin-top: 30px;
  padding: 80px 15px 20px 15px;
  font-size: 15px;
}

.lower-menu {
  position: relative;
}
.lower-menu li {
  display: inline;
  list-style-type: none;
  padding-right: 30px;
}
.lower-menu ul {
  margin: 0 0 0 0;
  text-align: right;
  padding: 20px 10px 15px 20px;
  background-image: url(../images/menu-bg.png);
  background-repeat: repeat-x;
}
.lower-menu a {
  color: white;
  text-decoration: none;
}
.lower-menu a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
.lower-menu a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
  }

/* 個別のスタイル*/
/* index.html */
.keyvisual {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.keyvisual img {
  margin: 15px 0 0 0;
}
.sub-title a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #000000;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
.sub-title a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
  }
.news-item {
  margin: 0;
}
/* information.html */
.info-list li {
  border-top:1px solid;
  border-bottom:1px solid;
  border-color: #000000;
  font-size: large;
}
.info-list li + li {
  border-bottom:1px solid;
  border-color: #000000;
}
/* biography.html */
.bio-text {
  margin: 50px auto;
  font-size: large;
}
/* works.html */
.works-list li {
  border-bottom:1px solid;
  border-color: #000000;
  font-size: large;
}
/* photo.html */
.photos-list li {
  border-bottom:1px solid;
  border-color: #000000;
  font-size: large;
}
.photos-img {
  text-align: center;
}
/* contact.html */
.contact-text {
  font-size:large;
}
.contact-link a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #000000;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
.contact-link a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
  }

@media (max-width: 1200px){
  .wrapper {
    margin: 0 30px;
  }
/*keyvisualの調整*/
  .keyvisual img {
    width: 767px;
  }
  }


@media (max-width: 767px){
  /*レスポンシブ対応*/
  .wrapper {
    margin: 0 10px;
  }
  .top-logo {
    margin: 30px 0;
  }
  /* index.html */
  .keyvisual img {
    width: 400px;
  }
  /* works.html - */
  .works-photo {
    margin-right: 0;
    width: 100%;
  }
  .works-list {
    width: 100%;
  }
  .photos-list {
    width: 100%;
  }
}
